.footer{
  background: $goodBlack;
  position: sticky;
    bottom: -430px;
}

.sticky-footer-container {
  background: $goodBlack;
  color: #FFF;
  font-weight: 400;
  padding: 20px 0;
  z-index: 2;
}

.inner-footer-container {
  margin: 0 auto;
  width: 90%;
  z-index: 2;
}

.design-good-logo {
  float: left;
  width: 40%;

  a {
    color: #fff;
    text-decoration: none;
  }

  .beaconLogo--footer{
    width: 120px;
  }
}

.footer--menu-button {
  color: #fff;
  cursor: pointer;
  float: right;
  text-align: right;
  text-decoration: underline;
  width: 60%;
}

.menu-container {
  background: $goodBlack;
  padding: 60px 0 40px;
  position: relative;
    top: 0;
  transition: all linear .5s;

    &.open {
      top: -450px;
    }

  z-index: 1;
}

.inner-menu-container {
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.internal-menu-container {
  color: #fff;
  display: flex;
  flex-flow: column;

  a.footer-link {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
  }

  &.buy-now {
    padding: 0 10% 20px 0;
    width: 50%;

    .product-offer {
      background: url(../images/automatingHumanityMockup.jpg) center no-repeat;
      background-size: 100%;
      height: 250px;
      width: 390px;
    }

    .button {
      text-decoration: none;
      width: 390px;

      &:hover {
        background: #fff;
        color: $goodBlack;
      }
    }
  }

  &.links {
    width: 25%;
  }

  &.social-links {
    width: 25%;
  }
}

.footer-link {
  padding: 0 0 10px;
}
