<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Design Good</title>
        <meta name="description" content="Create a better future, through technology">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- ADD META IMAGE AT LEAST 600x315 AND FAVICON -->
        <meta property="og:image" content="images/beaconTrustLogo.png" />
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/png" href="images/beaconTrustLogo.png"/>

        <meta property="og:url" content="http://www.designgood.tech" />

        <!-- Facebook Share meta tags -->
        <meta property="fb:app_id" content="TODO" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Design Good" />
        <meta property="og:description" content="An insider's perspective on the industry and how we make meaningful change." />
        <!-- Fix og:image content tag :: Image doesn't fit FB share pic size 469px by 276px -->
        <meta property="og:image" content="http://www.designgood.tech/images/automatingHumanityMockup.jpg" />
        <!-- Test Facebook Share results here https://developers.facebook.com/tools/debug/og/object/ -->

        <!-- Twitter meta tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@realjoet">
        <meta name="twitter:creator" content="@realjoet">
        <meta name="twitter:title" content="Design Good">
        <meta name="twitter:description" content="An insider's perspective on the industry and how we make meaningful change.">
        <meta name="twitter:image" content="http://www.designgood.tech/images/automatingHumanityMockup.jpg">
        <!-- Test Twitter Card results: https://cards-dev.twitter.com/validator -->


        <link rel="stylesheet" href="../styles/normalize.min.css">
        <link rel="stylesheet" href="../styles/styles.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet">


        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="container ah-page">
        <div class="body-container">
            <div class="vertical-line3"></div>
            <div class="vertical-line4"></div>
            <div class="vertical-line5"></div>
            <section class="welcome row">
                <h1 class="hero-title">Automating <br />Humanity</h1>
                <a class="button hero-button" href="#buy-now-hook">Buy Now</a>
            </section>
            <section class="sectional-image row" id="automating-humanity--section-one-image">
                <!-- Image embedded in background¬ -->
            </section>
            <section class="about-section">
                <div class="inner-section-container">
                    <h2 class="section-header">About The Book</h2>
                    <p class="section-description">
                        Automating Humanity is an insider's perspective on everything Big Tech doesn't want you thinking about — everything from the impact being created by the addictions they have installed at a global scale, to the profits being driven by fake news and disinformation, to the way these companies are manipulating the world for profit and automating jobs at a scale we've never experienced before.
                        <br />
                        <br />
                        If you're looking for a book that reveals trade secrets, this is the wrong book for you. But if you're looking for an insider's perspective on the industry written in a way anyone can pick up and enjoy, this is the book you've been looking for. Even without giving away secrets, there's plenty to be told.
                        <br />
                        <br />
                        After introducing readers to what's going on and helping them understand the big picture, the book will then walk through how we got in this position, what the future could look like if we take action, and how we can make that future a reality. This will include a critique of modern regulation—including parts of the European Union’s General Data Protection Regulation (GDPR)—and suggestions on how we make proactive, adaptable regulation that both satisfies consumer's needs and works with the modern economy we’re living in.
                        <br />
                        <br />
                        If reading this book doesn't give you goosebumps, you might not be human. But if it doesn't leave you with hope for the future, you probably didn't finish it.
                        </p>
                        <ul class="what-you-learn">
                            <h3 class="wyl--list-title">For technical people the book will</h3>
                            <li class="wyl--learning">Explain why all businesses will be making one of these systems sooner than they think, if they're not already, and outline how to create the products that will thrive in the age of automation.
                            </li>
                            <li class="wyl--learning">Help technologists understand where the industry is headed in the future, what legal and social concerns should be taken into consideration when developing a new product for the market, and how to understand the responsibilities of being a creator in the modern world.</li>
                            <li class="wyl--learning">Give technologists language to sell their ideas to their team and bring those dreams to life.</li>
                        </ul>
                        <ul class="what-you-learn">
                            <h3 class="wyl--list-title">For non-technical people the book will</h3>
                            <li class="wyl--learning">Help readers understand what's happening within the modern technology industry.</li>
                            <li class="wyl--learning">Give readers language to discuss any  concerns they may have about modern technology.</li>
                            <li class="wyl--learning">Teach readers how they can help shape the future even if they have no desire to learn how to code, design, or otherwise participate in creating these systems.</li>
                        </ul>
                        <ul class="what-you-learn">
                            <h3 class="wyl--list-title">For policymakers the book will</h3>
                            <li class="wyl--learning">Help readers understand what's happening in the technology industry and how it relates to traditional public policy.</li>
                            <li class="wyl--learning">Give readers language to understand how the dangers of the modern tech world align with traditional laws and how regulation can be approached in modern terms. </li>
                        </ul>
                </div>
            </section>
            <section class="sectional-image row" id="automating-humanity--section-two-image">
                <!-- Image embedded in background -->
            </section>
            <section class="about-section">
                <div class="inner-section-container">
                    <h2 class="section-header">What People Are Saying</h2>
                    <ul class="sample-quotes">
                        <li class="sample-quotes--quote">We find ourselves in a transition period where our old legal, policy and economic tools are stretched beyond their productive capacities and new ones cannot yet be validated or tested as the new terrain is not yet clearly visible.
                        <br> <br>
                        Automating Humanity lays out a strategy that outlines how we can make the transition as smooth as possible.</li>
                        <h3 class="sample-quotes--person">Rob van Kranenburg, European Union IoT Council</h3>
                        <li class="sample-quotes--quote">It reads like a dystopian novel but it’s written in a way that feels like I’m having a conversation with the person who wrote it. The scariest part though is that it’s all based on facts.</li>
                        <h3 class="sample-quotes--person">Anamita Guha, IBM</h3>
                        <li class="sample-quotes--quote">Representation within the data sets training these systems, the models representing different segmentations of life, and the workforce creating these systems is key to this movement. If we don't have fair representation, entire segments of life will silently be destroyed by automated systems.
                        <br> <br>
                        This book helps bring these issues to life in a way that will enable us to have a larger conversation about it.
                        </li>
                        <h3 class="sample-quotes--person">Lauren Mosenthal, Guild Education</h3>
                        <li class="sample-quotes--quote">Our world is a mosaic that is influenced by information and disinformation. This book will bring all the scattered news stories you may or may not have heard before into a single story that puts the puzzle pieces together and enables even the least technical of people to understand what's going on.
                        <br> <br>
                        After unpacking everything it will then provide you with the tools to make our world a better place, through technology — not by eliminating it.
                        </li>
                        <h3 class="sample-quotes--person">Adam Jones, HUGE</h3>
                        <li class="sample-quotes--quote">No matter what your political beliefs or upbringing, we need more people reading this so we can have a larger conversation about what's going on behind the scenes and figure out how to make the future safe.
                        </li>
                        <h3 class="sample-quotes--person">Rachel Beisel, Cable Labs</h3>
                    </ul>
                </div>
            </section>
            <section class="sectional-image row" id="automating-humanity--section-three-image">
                <!-- Image embedded in background -->
            </section>
            <section class="about-section">
                <div class="inner-section-container">
                    <h2 class="section-header">Table of Contents</h2>
                    <div class="toc-container">
                        <ul class="toc-outline">
                            <h3 class="toc-outline--section-title">Section 1: WTF Is Happening?</h3>
                            <li class="toc-outline--chapter-title">Chapter 1: The Race To Zero</li>
                            <li class="toc-outline--chapter-title">Chapter 2: Data Over Everything</li>
                            <li class="toc-outline--chapter-title">Chapter 3: The Price of Free(dom)</li>
                            <li class="toc-outline--chapter-title">Chapter 4: Herding The Sheeple</li>
                            <li class="toc-outline--chapter-title">Chapter 5: Social Engineering 101</li>
                            <li class="toc-outline--chapter-title">Chapter 6: Creating Model Societies</li>
                            <li class="toc-outline--chapter-title">Chapter 7: Automating Humanity</li>
                        </ul>
                        <ul class="toc-outline">
                            <h3 class="toc-outline--section-title">Section 2: How Did We Get Here?</h3>
                            <li class="toc-outline--chapter-title">Chapter 8: Information, Technology and Evolution</li>
                            <li class="toc-outline--chapter-title">Chapter 9: Billions of Brains as One</li>
                            <li class="toc-outline--chapter-title">Chapter 10: Can't Stop, Won't Stop</li>
                        </ul>
                        <ul class="toc-outline">
                            <h3 class="toc-outline--section-title">Section 3: Where Could It Go?</h3>
                            <li class="toc-outline--chapter-title">Chapter 11: Amplified Intelligence</li>
                            <li class="toc-outline--chapter-title">Chapter 12: Accessible and Inclusive Technologies</li>
                            <li class="toc-outline--chapter-title">Chapter 13: Ambient Machines</li>
                        </ul>
                        <ul class="toc-outline" id="buy-now-hook">
                            <h3 class="toc-outline--section-title">Section 4: How Do We Get There?</h3>
                            <li class="toc-outline--chapter-title">Chapter 14: Recognize Data Monopolies</li>
                            <li class="toc-outline--chapter-title">Chapter 15: Make News Trustworthy</li>
                            <li class="toc-outline--chapter-title">Chapter 16: Demand Transparency</li>
                            <li class="toc-outline--chapter-title">Chapter 17: Define Privacy</li>
                            <li class="toc-outline--chapter-title">Chapter 18: Update Consumer Protection Standards</li>
                            <li class="toc-outline--chapter-title">Chapter 19: Improve Education</li>
                            <li class="toc-outline--chapter-title">Chapter 20: Fight for Representation</li>
                            <li class="toc-outline--chapter-title">Chapter 21: Catalyze Emerging Markets</li>
                            <li class="toc-outline--chapter-title">Chapter 22: Reintroduce Stability</li>
                            <li class="toc-outline--chapter-title">Chapter 23: Enable Informed Regulation</li>
                        </ul>
                        <ul class="toc-outline">
                            <h3 class="toc-outline--section-title">Other Information</h3>
                            <li class="toc-outline--chapter-title">Page Length: 237 pages</li>
                            <li class="toc-outline--chapter-title">Cover Design: <a href="https://www.donottouch.ca/" target="blank">Jessie Sohpaul</a></li>
                            <li class="toc-outline--chapter-title">Internal Art: <a href="http://beeple-crap.com/" target="blank">Beeple</a></li>
                        </ul>
                    </div>
                    <a href="https://www.amazon.com/Automating-Humanity-Joe-Toscano/dp/1576879208/ref=sr_1_1?ie=UTF8&qid=1533500065&sr=8-1&keywords=automating+humanity" class="button buy-now" target="_blank">Order Book</a>
                    <a class="button middle-button" id="automating-humanity" href="https://realjoet.typeform.com/to/XkgjWF">Order eBook</a>
                    <a class="button last-button" id="ah-sample" href="https://spaces.hightail.com/receive/DXLDQmL2mk" target="_blank">Download Sample</a>

                    <p class="fine-print">If you have interest in becoming an educational sponsor or if you would like to get access to special prices for educational purposes, please email <a href="mailto: hello@beacontrustnetwork.com" target="_blank" class="connect-button" id="book-me">
                        hello@beacontrustnetwork.com
                    </a></p>
                </div>
            </section>
        </div>
        <footer class="footer row">
            <div class="sticky-footer-container row">
                <div class="inner-footer-container">
                    <p class="design-good-logo"><a href="../index.html">Design Good</a></p>
                    <div class="footer--menu-button" id="footer--menu-button">Open Menu</div>
                </div>
            </div>
            <div class="menu-container row">
                <div class="inner-menu-container">
                    <div class="internal-menu-container buy-now">
                        <div class="product-offer"></div>
                        <a href="https://www.amazon.com/Automating-Humanity-Joe-Toscano/dp/1576879208/ref=sr_1_1?ie=UTF8&qid=1533500065&sr=8-1&keywords=automating+humanity" class="button buy-now" target="_blank">Order Book</a>
                    </div>
                    <div class="internal-menu-container links">
                        <h3 class="section-subhead">Discover</h3>
                        <a href="get-involved.html" class="footer-link">Get Involved</a>

                        <a href="resources.html" class="footer-link">Resources</a>
                        <a href="https://drive.google.com/open?id=1Cj1RmP8WzhxxZ-i18fwUUvaZr8rO7fZh" class="footer-link">Press Kit</a>
                    </div>
                    <div class="internal-menu-container social-links">
                        <h3 class="section-subhead">Connect</h3>
                        <a href="https://medium.com/@realjoet" class="footer-link" id="medium" target="_blank">Medium</a>
                        <a href="https://twitter.com/realjoet" class="footer-link" id="twitter" target="_blank">Twitter</a>
                        <div class="footer-link">
                            hello@beacontrustnetwork.com
                        </div>
                    </div>

                </div>
            </div>
        </footer>
        </div>

        <!-- SCRIPTS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="../js/main.js"></script>

        <!-- ADD STRIPE CALLS HERE WHEN READY -->

        <!-- <script>
            var handler = StripeCheckout.configure({
              key: 'pk_test_R3xxK8GTuuvQzbOPMp311mST',
              image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
              locale: 'auto',
              token: function(token) {
                // You can access the token ID with `token.id`.
                // Get the token ID to your server-side code for use.
              }
            });

            document.getElementById('preorder').addEventListener('click', function(e) {
              // Open Checkout with further options:
              handler.open({
                name: 'Automating Humanity',
                description: 'Book on preorder',
                amount: 3000
              });
              e.preventDefault();
            });

            // Close Checkout on page navigation:
            window.addEventListener('popstate', function() {
              handler.close();
            });
        </script> -->
    </body>
</html>
