<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Design Good</title>
        <meta name="description" content="Create a better future, through technology">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- ADD META IMAGE AT LEAST 600x315 AND FAVICON -->
        <meta property="og:image" content="images/designGoodLogo.png" />
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/png" href="images/designGoodLogo.png"/>

        <meta property="og:url" content="http://www.designgood.tech" />

        <!-- Facebook Share meta tags -->
        <meta property="fb:app_id" content="TODO" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Design Good" />
        <meta property="og:description" content="An insider's perspective on the industry and how we make meaningful change." />
        <!-- Fix og:image content tag :: Image doesn't fit FB share pic size 469px by 276px -->
        <meta property="og:image" content="http://www.designgood.tech/images/automatingHumanityMockup.jpg" />
        <!-- Test Facebook Share results here https://developers.facebook.com/tools/debug/og/object/ -->

        <!-- Twitter meta tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@realjoet">
        <meta name="twitter:creator" content="@realjoet">
        <meta name="twitter:title" content="Design Good">
        <meta name="twitter:description" content="An insider's perspective on the industry and how we make meaningful change.">
        <meta name="twitter:image" content="http://www.designgood.tech/images/automatingHumanityMockup.jpg">
        <!-- Test Twitter Card results: https://cards-dev.twitter.com/validator -->


        <link rel="stylesheet" href="../styles/normalize.min.css">
        <link rel="stylesheet" href="../styles/styles.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet">


        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="container resources--non-technical-page">
        <div class="body-container">
            <div class="vertical-line3"></div>
            <div class="vertical-line4"></div>
            <div class="vertical-line5"></div>
            <section class="welcome row">
                <h1 class="hero-title">Non-Technical Goods</h1>
                <p class="hero-description">
                  Everything you need to get started.
                </p>
                <div class="resources-nav-container">
                    <a class="resources-nav--link" href="#tools">Tools to Protect & Educate</a>
                    <a class="resources-nav--link" href="#alternatives">Alternatives to Big Tech</a>
                    <a class="resources-nav--link" href="#issues">Issues to Watch</a>
                    <!-- <a class="resources-nav--link" href="#recent-news">Recent News</a> -->
                </div>
            </section>
            <section class="resources-section tools">
                <div class="inner-section-container--wide">
                    <h1 class="section-title" id="tools">Tools to Protect & Educate</h1>
                    <div class="resource-offerings-container">
                        <a class="resource-offering non-technical" href="https://www.lastpass.com/" target="blank">
                            <h2 class="resource-title">Last Pass</h2>
                            <p class="resource-description">
                                Protect yourself from  hackers with stronger passwords and never have to remember them again.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://freedom.to/" target="blank">
                            <h2 class="resource-title">Freedom</h2>
                            <p class="resource-description">
                                Freedom is the app and website blocker used by over 750,000 people to reclaim focus and produc­tivity. Experience the freedom to do what matters most.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://getadblock.com/" target="blank">
                            <h2 class="resource-title">Ad Block</h2>
                            <p class="resource-description">
                                With AdBlock, most ads aren't even downloaded at all. So you can focus on enjoying the content you want, and spend less time waiting for it.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://chupadados.codingrights.org/en/fuzzifyme/" target="blank">
                            <h2 class="resource-title">Fuzzify.me</h2>
                            <p class="resource-description">
                                A browser extension that helps you understand how advertisers target you on Facebook and provides a stream of ads that user receives.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://adguard.com/en/welcome.html" target="blank">
                            <h2 class="resource-title">AdGuard</h2>
                            <p class="resource-description">
                                AdGuard is the best way to get rid of intrusive ads and online tracking, and to protect your computer from malware. Make your web surfing faster, safer and more comfortable with AdGuard!
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://1password.com/" target="blank">
                            <h2 class="resource-title">One Password</h2>
                            <p class="resource-description">
                                Protect yourself from  hackers with stronger passwords and never have to remember them again.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://inthemoment.io/" target="blank">
                            <h2 class="resource-title">Moment</h2>
                            <p class="resource-description">
                                Moment is an iOS app that automatically tracks how much you use your iPhone and iPad each day. If you’re using your phone too much, you can set daily limits on yourself and be notified when you go over. You can even force yourself off your device when you’re over your limit.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://better.fyi/" target="blank">
                            <h2 class="resource-title">Better Blocker</h2>
                            <p class="resource-description">
                                Better is a privacy tool for Safari on iPhone, iPad, and Mac. We protect you from behavioural ads and companies that track and profile you on the web.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="http://optout.aboutads.info/" target="blank">
                            <h2 class="resource-title">YourAdChoices</h2>
                            <p class="resource-description">
                                Learn more about what’s going on behind the scenes, see all the companies that are tracking you and find out what options you have to stop the tracking.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://chupadados.codingrights.org/en/" target="blank">
                            <h2 class="resource-title">Coding Rights</h2>
                            <p class="resource-description">
                                This project gathers stories from across Latin America about the mass collection and processing of data that governments, businesses and we ourselves carry out to monitor our cities, homes, wallets and bodies.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://haveibeenpwned.com/" target="blank">
                            <h2 class="resource-title">Have I Been Pwn'd?</h2>
                            <p class="resource-description">
                                Data breaches are rampant and many people don't appreciate the scale or frequency with which they occur. Check if you have an account that has been compromised in a data breach.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://chrome.google.com/webstore/detail/windows-defender-browser/bkbeeeffjjeopflfhgeknacdieedcoml?hl=en-US" target="blank">
                            <h2 class="resource-title">Reality Defender</h2>
                            <p class="resource-description">
                                This browser extension helps protect you against online threats, such as links in phishing emails and websites designed to trick you into downloading and installing malicious software that can harm your computer.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://willrobotstakemyjob.com/" target="blank">
                            <h2 class="resource-title">Will Robots Take My Job?</h2>
                            <p class="resource-description">
                                Curious if robots will take your job? Here's a tool that will help you find out in a matter of seconds.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="http://takeout.google.com" target="blank">
                            <h2 class="resource-title">Download Google Data</h2>
                            <p class="resource-description">
                                Curious about the amount or type of data Google has on you? Download your data today to get a better understanding.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://www.facebook.com/help/1701730696756992?helpref=hc_global_nav" target="blank">
                            <h2 class="resource-title">Download Facebook Data</h2>
                            <p class="resource-description">
                                Curious about the amount or type of data Facebook has on you? Download your data today to get a better understanding.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://www.google.com/maps/timeline?pb" target="blank">
                            <h2 class="resource-title">Timeline by Google</h2>
                            <p class="resource-description">
                                Want to know how much Google tracks your location? Forgot about where you ate dinner last week? Here's a tool by Google that let's you find out.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://myactivity.google.com/myactivity" target="blank">
                            <h2 class="resource-title">My Activity on Google</h2>
                            <p class="resource-description">
                                This tool, created by Google, allows you to see everything you done with Google and take control of what the company knows about you.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://myaccount.google.com/permissions" target="blank">
                            <h2 class="resource-title">Permissions by Google</h2>
                            <p class="resource-description">
                                This tool, created by Google, allows you to see every company you've given permission to access your Google data, what access they have, and how long they've had it. Want to revoke access? Do it here.
                            </p>
                        </a>
                    </div>
            </section>
            <section class="resources-section issues">
                <div class="inner-section-container--wide">
                    <h1 class="section-title" id="alternatives">Alternatives to Big Tech</h1>
                    <div class="resource-offerings-container">
                        <a class="resource-offering non-technical" href="https://solid.mit.edu/" target="blank">
                            <h2 class="resource-title">Solid</h2>
                            <p class="resource-description">
                                Solid is an exciting new project led by Prof. Tim Berners-Lee, inventor of the World Wide Web, taking place at MIT. The project aims to radically change the way Web applications work today, resulting in true data ownership as well as improved privacy.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://www.ecosia.org/" target="blank">
                            <h2 class="resource-title">Ecosia</h2>
                            <p class="resource-description">
                                Ecosia is like any other search engine, with one major difference: they use their profits to plant trees and improve the environment.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://nomoregoogle.com/" target="blank">
                            <h2 class="resource-title">No More Google</h2>
                            <p class="resource-description">
                                A curated list of Google product alternatives that allows consumers to see life beyond the Googs.
                            </p>
                        </a>
                    </div>
            </section>
            <section class="resources-section issues">
                <div class="inner-section-container--wide">
                    <h1 class="section-title" id="issues">Issues to Watch</h1>
                    <div class="resource-offerings-container">
                        <a class="resource-offering non-technical" href="http://doyoutrustthiscomputer.org/" target="blank">
                            <h2 class="resource-title">Do You Trust This Computer?</h2>
                            <p class="resource-description">
                                Science fiction has long anticipated the rise of machine intelligence. Today, a new generation of self-learning computers has begun to reshape every aspect of our lives. Do You Trust This Computer?
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="https://publicbydefault.fyi/" target="blank">
                            <h2 class="resource-title">Public by Default</h2>
                            <p class="resource-description">
                                A data story engineered to demonstrate just how easily your data can be accessed and what can be done with it, without your knowing, but with your consent.
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="http://informationisbeautiful.net/visualizations/worlds-biggest-data-breaches-hacks/" target="blank">
                            <h2 class="resource-title">World's Biggest Data Breaches</h2>
                            <p class="resource-description">
                                An interactive infographic that demonstrates all data breaches of 30,000 records or more, from around the globe, since 2004.
                            </p>
                        </a>
                    </div>
            </section>
            <!-- <section class="resources-section news">
                <div class="inner-section-container--wide">
                    <h1 class="section-title" id="recent-news">Recent News</h1>
                    <div class="resource-offerings-container">
                        <a class="resource-offering non-technical" href="views/resources--non-technical.html" target="blank">
                            <h2 class="resource-title">Non-Technical People</h2>
                            <p class="resource-description">
                                Are you looking for tools and advice on how to protect yourself on the Internet? Want to understand what issues need attention? Curious about who is working to resolve these issues in politics?
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="views/resources--non-technical.html" target="blank">
                            <h2 class="resource-title">Technical People</h2>
                            <p class="resource-description">
                                Are you looking for cutting research, design assets, tutorials, and other technical resources to help you create a better future and sell that future into your product road map?
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="views/resources--non-technical.html" target="blank">
                            <h2 class="resource-title">Policymakers</h2>
                            <p class="resource-description">
                                Are you looking for a list of issues that need to be resolved, language to describe the issues, and other policymakers who are working to solve these issues?
                            </p>
                        </a>
                    </div>
            </section> -->
        </div>
        <footer class="footer row">
            <div class="sticky-footer-container row">
                <div class="inner-footer-container">
                    <p class="design-good-logo"><a href="../index.html">Design Good</a></p>
                    <div class="footer--menu-button" id="footer--menu-button">Open Menu</div>
                </div>
            </div>
            <div class="menu-container row">
                <div class="inner-menu-container">
                    <div class="internal-menu-container buy-now">
                        <div class="product-offer"></div>
                        <a href="https://www.amazon.com/Automating-Humanity-Joe-Toscano/dp/1576879208/ref=sr_1_1?ie=UTF8&qid=1533500065&sr=8-1&keywords=automating+humanity" class="button buy-now" target="_blank">Order Book — $35</a>
                    </div>
                    <div class="internal-menu-container links">
                        <h3 class="section-subhead">Discover</h3>
                        <a href="get-involved.html" class="footer-link">Get Involved</a>

                        <a href="resources.html" class="footer-link">Resources</a>
                        <a href="https://drive.google.com/open?id=1Cj1RmP8WzhxxZ-i18fwUUvaZr8rO7fZh" class="footer-link">Press Kit</a>
                    </div>
                    <div class="internal-menu-container social-links">
                        <h3 class="section-subhead">Connect</h3>
                        <a href="https://medium.com/@realjoet" class="footer-link" id="medium" target="_blank">Medium</a>
                        <a href="https://twitter.com/realjoet" class="footer-link" id="twitter" target="_blank">Twitter</a>
                        <div class="footer-link">
                            lets@designgood.tech
                        </div>
                    </div>

                </div>
            </div>
        </footer>
        </div>

        <!-- SCRIPTS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="../js/main.js"></script>

        <!-- ADD STRIPE CALLS HERE WHEN READY -->

        <!-- <script>
            var handler = StripeCheckout.configure({
              key: 'pk_test_R3xxK8GTuuvQzbOPMp311mST',
              image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
              locale: 'auto',
              token: function(token) {
                // You can access the token ID with `token.id`.
                // Get the token ID to your server-side code for use.
              }
            });

            document.getElementById('preorder').addEventListener('click', function(e) {
              // Open Checkout with further options:
              handler.open({
                name: 'Automating Humanity',
                description: 'Book on preorder',
                amount: 3000
              });
              e.preventDefault();
            });

            // Close Checkout on page navigation:
            window.addEventListener('popstate', function() {
              handler.close();
            });
        </script> -->
    </body>
</html>
