<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Design Good</title>
        <meta name="description" content="Create a better future, through technology">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- ADD META IMAGE AT LEAST 600x315 AND FAVICON -->
        <meta property="og:image" content="images/designGoodLogo.png" />
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/png" href="images/designGoodLogo.png"/>

        <meta property="og:url" content="http://www.designgood.tech" />

        <!-- Facebook Share meta tags -->
        <meta property="fb:app_id" content="TODO" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Design Good" />
        <meta property="og:description" content="An insider's perspective on the industry and how we make meaningful change." />
        <!-- Fix og:image content tag :: Image doesn't fit FB share pic size 469px by 276px -->
        <meta property="og:image" content="http://www.designgood.tech/images/automatingHumanityMockup.jpg" />
        <!-- Test Facebook Share results here https://developers.facebook.com/tools/debug/og/object/ -->

        <!-- Twitter meta tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@realjoet">
        <meta name="twitter:creator" content="@realjoet">
        <meta name="twitter:title" content="Design Good">
        <meta name="twitter:description" content="An insider's perspective on the industry and how we make meaningful change.">
        <meta name="twitter:image" content="http://www.designgood.tech/images/automatingHumanityMockup.jpg">
        <!-- Test Twitter Card results: https://cards-dev.twitter.com/validator -->


        <link rel="stylesheet" href="../styles/normalize.min.css">
        <link rel="stylesheet" href="../styles/styles.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet">


        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="container resources--non-technical-page">
        <div class="body-container">
            <div class="vertical-line3"></div>
            <div class="vertical-line4"></div>
            <div class="vertical-line5"></div>
            <section class="welcome row">
                <h1 class="hero-title">Technical Goods</h1>
                <p class="hero-description">
                  Get your business up to speed with ethics.
                </p>
                <div class="resources-nav-container">
                    <a class="resources-nav--link" href="#comingSoonTechnical">Research</a>
                    <a class="resources-nav--link" href="#comingSoonTechnical">Tutorials</a>
                    <a class="resources-nav--link" href="#comingSoonTechnical">Design Assets</a>
                </div>
            </section>
            <section class="resources-section news">
                <div class="inner-section-container--wide">
                    <h1 class="section-title" id="comingSoonTechnical">Coming Soon...</h1>
                    <div class="resource-offerings-container">
                        <img src="../images/technical-support.gif" alt="" class="coming-soon-gif" id="technicalSupportCat">
                    </div>
            </section>
            <!-- <section class="resources-section news">
                <div class="inner-section-container--wide">
                    <h1 class="section-title" id="research">Research</h1>
                    <div class="resource-offerings-container">
                        <a class="resource-offering non-technical" href="views/resources--non-technical.html">
                            <h2 class="resource-title">Non-Technical People</h2>
                            <p class="resource-description">
                                Are you looking for tools and advice on how to protect yourself on the Internet? Want to understand what issues need attention? Curious about who is working to resolve these issues in politics?
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="views/resources--non-technical.html">
                            <h2 class="resource-title">Technical People</h2>
                            <p class="resource-description">
                                Are you looking for cutting research, design assets, tutorials, and other technical resources to help you create a better future and sell that future into your product road map?
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="views/resources--non-technical.html">
                            <h2 class="resource-title">Policymakers</h2>
                            <p class="resource-description">
                                Are you looking for a list of issues that need to be resolved, language to describe the issues, and other policymakers who are working to solve these issues?
                            </p>
                        </a>
                    </div>
            </section>
            <section class="resources-section tools">
                <div class="inner-section-container--wide">
                    <h1 class="section-title" id="tutorials">Tutorials</h1>
                    <div class="resource-offerings-container">
                        <a class="resource-offering non-technical" href="views/resources--non-technical.html">
                            <h2 class="resource-title">Non-Technical People</h2>
                            <p class="resource-description">
                                Are you looking for tools and advice on how to protect yourself on the Internet? Want to understand what issues need attention? Curious about who is working to resolve these issues in politics?
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="views/resources--non-technical.html">
                            <h2 class="resource-title">Technical People</h2>
                            <p class="resource-description">
                                Are you looking for cutting research, design assets, tutorials, and other technical resources to help you create a better future and sell that future into your product road map?
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="views/resources--non-technical.html">
                            <h2 class="resource-title">Policymakers</h2>
                            <p class="resource-description">
                                Are you looking for a list of issues that need to be resolved, language to describe the issues, and other policymakers who are working to solve these issues?
                            </p>
                        </a>
                    </div>
            </section>
            <section class="resources-section issues">
                <div class="inner-section-container--wide">
                    <h1 class="section-title" id="assets">Design Assets</h1>
                    <div class="resource-offerings-container">
                        <a class="resource-offering non-technical" href="views/resources--non-technical.html">
                            <h2 class="resource-title">Non-Technical People</h2>
                            <p class="resource-description">
                                Are you looking for tools and advice on how to protect yourself on the Internet? Want to understand what issues need attention? Curious about who is working to resolve these issues in politics?
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="views/resources--non-technical.html">
                            <h2 class="resource-title">Technical People</h2>
                            <p class="resource-description">
                                Are you looking for cutting research, design assets, tutorials, and other technical resources to help you create a better future and sell that future into your product road map?
                            </p>
                        </a>
                        <a class="resource-offering non-technical" href="views/resources--non-technical.html">
                            <h2 class="resource-title">Policymakers</h2>
                            <p class="resource-description">
                                Are you looking for a list of issues that need to be resolved, language to describe the issues, and other policymakers who are working to solve these issues?
                            </p>
                        </a>
                    </div>
            </section> -->
        </div>
        <footer class="footer row">
            <div class="sticky-footer-container row">
                <div class="inner-footer-container">
                    <p class="design-good-logo"><a href="../index.html">Design Good</a></p>
                    <div class="footer--menu-button" id="footer--menu-button">Open Menu</div>
                </div>
            </div>
            <div class="menu-container row">
                <div class="inner-menu-container">
                    <div class="internal-menu-container buy-now">
                        <div class="product-offer"></div>
                        <a href="https://www.amazon.com/Automating-Humanity-Joe-Toscano/dp/1576879208/ref=sr_1_1?ie=UTF8&qid=1533500065&sr=8-1&keywords=automating+humanity" class="button buy-now" target="_blank">Order Book — $35</a>
                    </div>
                    <div class="internal-menu-container links">
                        <h3 class="section-subhead">Discover</h3>
                        <a href="get-involved.html" class="footer-link">Get Involved</a>

                        <a href="resources.html" class="footer-link">Resources</a>
                        <a href="https://drive.google.com/open?id=1Cj1RmP8WzhxxZ-i18fwUUvaZr8rO7fZh" class="footer-link">Press Kit</a>
                    </div>
                    <div class="internal-menu-container social-links">
                        <h3 class="section-subhead">Connect</h3>
                        <a href="https://medium.com/@realjoet" class="footer-link" id="medium" target="_blank">Medium</a>
                        <a href="https://twitter.com/realjoet" class="footer-link" id="twitter" target="_blank">Twitter</a>
                        <div class="footer-link">
                            lets@designgood.tech
                        </div>
                    </div>

                </div>
            </div>
        </footer>
        </div>

        <!-- SCRIPTS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="../js/main.js"></script>

        <!-- ADD STRIPE CALLS HERE WHEN READY -->

        <!-- <script>
            var handler = StripeCheckout.configure({
              key: 'pk_test_R3xxK8GTuuvQzbOPMp311mST',
              image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
              locale: 'auto',
              token: function(token) {
                // You can access the token ID with `token.id`.
                // Get the token ID to your server-side code for use.
              }
            });

            document.getElementById('preorder').addEventListener('click', function(e) {
              // Open Checkout with further options:
              handler.open({
                name: 'Automating Humanity',
                description: 'Book on preorder',
                amount: 3000
              });
              e.preventDefault();
            });

            // Close Checkout on page navigation:
            window.addEventListener('popstate', function() {
              handler.close();
            });
        </script> -->
    </body>
</html>
