//! GET INVOLVED PAGE ELEMENTS SECTION ______________________
//! ____________________________________

.inner-section-container--wide {
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 40px 0;
}

.inner-section--card-container {
  width: 31%;
}

.inner-section--card-image {
  background: $goodBlack;
  height: 200px;
  width: 100%;
}

.inner-section--card-name {
  font-family: $noeDisplay;
  font-size: 21px;
  padding: 20px 0 8px;
}

.inner-section--card-description {
  text-align: justify;
}



//! FOUNDATION SECTION ______________________
//! ____________________________________
.foundation-container {
  padding: 0 0 30px;
}

.foundation-image {
  // @include background-cover;

  &#code-dot-org {
      background: url(../images/code-dot-org.jpg);
  }

  &#coder-dojo {
      background: url(../images/coder-dojo.jpg);
  }

  &#free-code-camp {
      background: url(../images/free-code-camp.jpg);
  }

  &#girls-who-code {
      background: url(../images/girls-who-code.jpg);
  }

  &#black-girls-who-code {
      background: url(../images/black-girls-who-code.jpg);
  }

  &#collective-for-youth {
      background: url(../images/collective-for-youth.jpg);
  }
}



//! DONATION SECTION ______________________
//! ____________________________________

.donation-item-container {
  padding: 40px 0;
}

.donation-list {
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 60px 0;
}

.donation-item-image {
  background: $goodBlack;
  height: 200px;
  width: 100%;
}

.foundation-name {
  font-family: $noeDisplay;
  font-size: 21px;
  padding: 20px 0 8px;
}


//! DESIGNER LIST SECTION ______________________
//! ____________________________________

.foundation-list {
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 60px 0;
}

.foundation-container {
  width: 31%;
}

.foundation-image {
  background: $goodBlack;
  height: 200px;
  width: 100%;
}

.foundation-name {
  font-family: $noeDisplay;
  font-size: 21px;
  padding: 20px 0 8px;
}
