section {
  padding: 80px 75px;
  width: 100%;
}

.container {
  color: $goodBlack;
  display: flex;
  flex-flow: row wrap;
  font-family: $montserrat;
  font-weight: 300;
  font-size: 1rem;
}

.body-container {
  overflow: hidden;
  position: relative;
}

#page-one--section-one {
  background: url(../images/caliCity.png) no-repeat center center fixed;
}

.beaconLogo--deco {
  height: 115px;
  margin: 0 auto;
  padding: 0 0 20px;
  position: absolute;
    top: 215px;
  width: 490px;
}

#beaconLeft {
  left: -250px;
  transform: rotateZ(90deg);
}

#beaconRight {
  right: -250px;
  transform: rotateZ(-90deg);
}


//! WELCOME __________________
//! ____________________________________
section.welcome {
  background: $beaconYellow;
  height: 550px;
}

.brandingContainer {
  margin: auto auto;
  width: 770px;
}

.beaconLogo {
  height: 25px;
  margin: 0 0 13px 5px;
  width: 150px;
}

.hero-description {
  font-size: 45px;
  font-weight: 200;
  line-height: 58px;
}

.feature-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feature-display {
  margin: 20px auto;
  width: 50%;
}



//! TECH CHECK SECTION ______________________
//! ____________________________________
.tech-check {
  background: $beaconYellow;
}




//! RESOURCES SECTION ______________________
//! ____________________________________

#page-one--section-resources {
  background: url(../images/resources.png) no-repeat center center fixed;
  background-size: 140%;
  background-position-y: 35%;
}




//! BOOK SECTION ______________________
//! ____________________________________
.book-display {
  align-items: center;
  margin: 20px auto;
}

.what-you-learn {
  list-style-type: disc;

  .wyl--learning {
    padding: 0 0 12px;
    text-align: justify;
  }
}




//! EVENTS _____________________________
//! ____________________________________

#page-one--section-two {
  background: url(../images/carnival.png) no-repeat center center fixed;
  background-size: 100%;
  background-position-y: 5%;
}

.events {
  flex-direction: column;
}

.events.section-title {
  float: left;
  width: 400px;
}

.events.section-description {
  float: left;
  width: 400px;
}

.event-display {
  margin: 20px auto;
}

.event-list {
  padding: 20px 0 0;
}

.event-container {
  flex-flow: column;
  padding: 30px 0;
}

.event-title {
  font-family: $montserrat;
  font-size: 21px;
  padding: 0 0 8px;
}

.event-date {
  float: left;
  font-size: 10px;
  width: 36px;
}

.event-location {
  font-size: 10px;
  font-weight: 200;
  text-transform: uppercase;
}

.event-description {
  font-size: 13px;
  line-height: 18px;
  padding: 10px 0 10px;
  text-align: justify;
}

.event-rsvp {
  margin: 8px 0 60px;

  &.private {
      background: $goodBlack;
      color: #fff;
      cursor: default;
  }

  &.coming-soon {
    transition: none;

    &:hover {
      background: #fff;
      color: $goodBlack;
      cursor: default;

    }
  }
}
