section {
  padding: 80px 75px;
  width: 100%;
}

.container {
  color: $goodBlack;
  display: flex;
  flex-flow: row wrap;
  font-family: $montserrat;
  font-weight: 300;
  font-size: 1rem;
}


.vertical-line {
  @extend %vertical-line--right;

  height: 700px;
  position: absolute;
    top: 350px;
}

.vertical-line2 {
  @extend %vertical-line--left;

  height: 1200px;
  position: absolute;
    top: 2650px;
}

.vertical-line6 {
  @extend %vertical-line--right;

  height: 1000px;
  position: absolute;
    top: 5500px;
}

#page-one--section-one {
  background: url(../images/caliCity.png) no-repeat center center fixed;
}



//! WELCOME __________________
//! ____________________________________
section.welcome {
  padding: 160px 0;
}

.hero-title {
  color: $goodBlack;
  font-family: 'noe-display';
  font-weight: 800;
  font-size: 120px;
  line-height: 120px;
  padding: 0 0 30px;
  text-align: center;
  width: 100%;
}

.hero-description {
  font-size: 21px;
  font-weight: 200;
  text-align: center;
  width: 100%;
}

.feature-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feature-display {
  margin: 20px auto;
  width: 50%;
}



//! TECH CHECK SECTION ______________________
//! ____________________________________
.tech-check {
  background: $goodBlack;
  color: #ffffff;

  .section-title {
    color: #ffffff;
  }

  .button {
    border: solid 1px #ffffff;
    color: #ffffff;

    &:hover {
      background: #ffffff;
      color: $goodBlack;
      font-weight: 500;
    }
  }
}




//! RESOURCES SECTION ______________________
//! ____________________________________

#page-one--section-resources {
  background: url(../images/resources.png) no-repeat center center fixed;
  background-size: 140%;
  background-position-y: 35%;
}




//! BOOK SECTION ______________________
//! ____________________________________
.book-display {
  align-items: center;
  margin: 20px auto;
}

.what-you-learn {
  list-style-type: disc;

  .wyl--learning {
    padding: 0 0 12px;
    text-align: justify;
  }
}




//! EVENTS _____________________________
//! ____________________________________

#page-one--section-two {
  background: url(../images/carnival.png) no-repeat center center fixed;
  background-size: 100%;
  background-position-y: 5%;
}

.events {
  flex-direction: column;
}

.events.section-title {
  float: left;
  width: 400px;
}

.events.section-description {
  float: left;
  width: 400px;
}

.event-display {
  align-items: center;
  margin: 20px auto;
  width: 80%;
}

.event-list {
  padding: 20px 0 0;
}

.event-container {
  flex-flow: column;
  padding: 30px 0;
}

.event-title {
  font-family: $noeDisplay;
  font-size: 21px;
  padding: 0 0 8px;
}

.event-date {
  float: left;
  font-size: 10px;
  width: 36px;
}

.event-location {
  font-size: 10px;
  font-weight: 200;
  text-transform: uppercase;
}

.event-description {
  font-size: 13px;
  line-height: 18px;
  padding: 10px 0 10px;
  text-align: justify;
}

.event-rsvp {
  margin: 8px 0 60px;

  &.private {
      background: $goodBlack;
      color: #fff;
      cursor: default;
  }

  &.coming-soon {
    transition: none;

    &:hover {
      background: #fff;
      color: $goodBlack;
      cursor: default;

    }
  }
}
