section {
  padding: 80px 75px;
  width: 100%;
}

.container {
  color: $goodBlack;
  display: flex;
  flex-flow: row wrap;
  font-family: $montserrat;
  font-weight: 300;
  font-size: 1rem;
}

.inner-section-container{
  margin: 0 auto;
  width: 400px;
}


.vertial-line {
  border: .5px solid $goodBlack;
  height: 700px;
  position: absolute;
    top: 300px;
    left: 90%;
  width: 1px;
}

.vertial-line2 {
  border: .5px solid $goodBlack;
  height: 1200px;
  position: absolute;
    top: 2000px;
    left: 10%;
  width: 1px;
}



//! WELCOME __________________
//! ____________________________________
section.welcome {
  padding: 160px 0;
}

.hero-title {
  color: $goodBlack;
  font-family: 'noe-display';
  font-weight: 800;
  font-size: 120px;
  line-height: 120px;
  padding: 0 0 30px;
  text-align: center;
  width: 100%;
}

.hero-description {
  font-size: 21px;
  font-weight: 200;
  text-align: center;
  width: 100%;
}




//! ABOUT SECTION ______________________
//! ____________________________________


.get-involved {
  margin: 20px 0 0;
}

//! BOOK SECTION ______________________
//! ____________________________________
.book-display {
  align-items: center;
  margin: 20px auto;
}

.what-you-learn {
  list-style-type: disc;

  .learning {
    padding: 0 0 12px;
    text-align: justify;
  }
}

//! QUOTE SECTION ______________________
//! ____________________________________

.quote.row {
  background: $goodBlack;
  color: #fff;
  text-align: center;
}

.section-quote {
  font-family: $noeDisplay;
  font-size: 28px;
  line-height: 36px;
  margin: 50px auto;
}



//! EVENTS _____________________________
//! ____________________________________

.events {
  flex-direction: column;
}

.events.section-title {
  float: left;
  width: 400px;
}

.events.section-description {
  float: left;
  width: 400px;
}

.event-list {
  padding: 20px 0 0;
}

.event-container {
  flex-flow: column;
  padding: 30px 0;
}

.event-title {
  font-family: $noeDisplay;
  font-size: 21px;
  padding: 0 0 8px;
}

.event-date {
  float: left;
  font-size: 10px;
  width: 26px;
}

.event-location {
  font-size: 10px;
  font-weight: 200;
  text-transform: uppercase;
}

.event-description {
  font-size: 13px;
  line-height: 18px;
  padding: 10px 0 10px;
  text-align: justify;
}

.event-rsvp {
  color: $goodBlack;
  margin: 8px 0 60px;
  text-decoration: none;
  transition: linear .3s;

  &:hover {
    color: #fff;
  }
}

.event-rsvp.private {
    background: $goodBlack;
    color: #fff;
    cursor: default;
}


//! FOOTER _____________________________
//! ____________________________________
footer.row {
  background: $goodBlack;
  color: #FFF;
  font-weight: 400;
  height: 80px;
  justify-content: space-between;
  padding: 0 75px;
}

.copyright {
  font-family: 'didonesque-roman';
  font-weight: 400;
  padding: 28px 0;
}

.social-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 21px 0;
  width: 100px;
}

.social-link {
  @include box-shadow(1px, 1px, 8px, rgba(51, 84, 124, .4));

  border-radius: 50px;
  display: inline-block;
  height: 37px;
  width: 37px;
}

.social-link#medium {
  background: #fff url(assets/medium-logo.png) no-repeat 60% 65%/70%;
  margin: 0 2% 0 0;
}

.social-link#twitter {
  background: #fff url(assets/twitter-logo.png) no-repeat 60% 65%/70%;
}
