.resources-nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 160px 0 0;
  width: 80%;
}

.resources-nav--link {
  font-size: 21px;
  width: auto;
}

.resource-offerings-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.resource-offering {
  border: 1px solid $goodBlack;
  color: $goodBlack;
  margin: 0 0 30px;
  padding: 30px;
  text-decoration: none;
  transition: .3s linear;
  width: 31%;

  &:hover {
    background: $goodBlack;
    color: #fff;
  }
}

.resource-title {
  font-family: $noeDisplay;
  font-size: 21px;
  padding: 60% 0 10px;
}

.resource-description {
  text-align: left;
}

#technicalSupportCat {
  width: 530px;
}
