/* Use this to style your elements and build them in your elements.html file. When you're finished building and styling, you should be able to preview what they look and behave like, responsively. After that you can copy/paste the elements where you need them and all that needs to change is their positioning within the containing divs */
.inner-section-container{
  margin: 0 auto;
  width: 400px;
}

.section-title {
  color: #2d2d2d;
  font-family: $noeDisplay;
  font-weight: 800;
  font-size: 48px;
  line-height: 80px;
  padding: 0 0 10px;
  text-align: center;
  width: 100%;
}

.section-header {
  font-family: $noeDisplay;
  font-size: 32px;
  line-height: 42px;
  padding: 0 0 18px;
  text-align: left;
}

.section-subhead {
  font-family: $noeDisplay;
  font-size: 21px;
  padding: 0 0 10px;
}

.wyl--list-title {
  font-weight: 800;
  padding: 0 0 10px;
}

.section-description {
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  margin: 0 auto;
  text-align: justify;
}

.sectional-image {
  height: 500px;
  padding: 0;
  width: 100%;

  @include background-cover;

  &#page-one--section-one {
    background: url(../images/cali-city.jpg) no-repeat center center fixed;
  }

  &#page-one--section-two {
    background: url(../images/sea-side-carnival.jpg) no-repeat center center fixed;
    background-size: 100%;
    background-position-y: 5%;
  }
}

.button {
  border: solid 1px $goodBlack;
  border-radius: 2px;
  color: $goodBlack;
  cursor: pointer;
  float: left;
  font-size: 13px;
  margin: 10px 0;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  transition: .3s linear;

  &:hover {
    background: $goodBlack;
    color: #fff;
  }

  &.hero-button {
    margin: 0 auto;
    width: 400px;
  }

  &.first-button {
    margin-top: 20px;
  }

  &.middle-button {
    margin: 0 0 10px;
  }

  &.last-button {
    margin: 0;
  }
}

.quote.row {
  background: $goodBlack;
  color: #fff;
  text-align: center;
}

.section-quote {
  font-family: $noeDisplay;
  font-size: 28px;
  line-height: 40px;
  margin: 50px auto;
}

%vertical-line--right {
  border: .5px solid $goodBlack;
  position: absolute;
    left: 90%;
  width: 1px;
}

%vertical-line--left {
  border: .5px solid $goodBlack;
  position: absolute;
    left: 10%;
  width: 1px;
}

.back-button {
  color: $goodBlack;
  cursor: pointer;
  float: left;
  font-size: 13px;
  margin: 10px 0;
  padding: 8px 0;
  position: absolute;
    top: 20px;
    left: 5%;
  text-align: center;
  text-decoration: none;
  transition: .3s linear;
  width: 80px;
}

.section-description.fine-print {
  padding: 10px 0 0;
}
