//! COLORS _____________________________
//! ____________________________________
$goodBlack: #1e1e1e;
$beaconYellow: #FFD708;

//! FONTS ______________________________
//! ____________________________________
// $didonesque: 'didonesque-roman', serif;
$montserrat: 'Montserrat', sans-serif;


//! BREAK POINTS _______________________
//! ____________________________________
$break-one: 768px;
$break-two: 1028px;
