//! COLORS _____________________________
//! ____________________________________
$goodBlack: #2d2d2d;

//! FONTS ______________________________
//! ____________________________________
// $didonesque: 'didonesque-roman', serif;
$montserrat: 'Montserrat', sans-serif;
$noeDisplay: 'noe-display', serif;


//! BREAK POINTS _______________________
//! ____________________________________
$break-one: 768px;
$break-two: 1028px;
