.ah-page {
  .vertical-line3 {
    display: none;
  }

  .vertical-line4 {
    height: 380px;
    top: 2170px;
  }

  .vertical-line5 {
    height: 420px;
    top: 3360px;
  }

  .sectional-image#automating-humanity--section-one-image {
    background-size: 650px;
    background-position: center;
  }

  .sectional-image#automating-humanity--section-two-image {
    background-position: 65% 95%;
    background-size: 185%;
  }

  .sectional-image#automating-humanity--section-three-image {
    background-position: 65% 95%;
    background-size: 185%;
  }

}
