.inner-section-container--wide {
  margin: 0 auto;
  padding: 30px 0 0;
  width: 340px;
}

.inner-section-container--card-container, .inner-section--card-container {
  width: 100%;
}

#get-involved-hero {
  background: url(../images/getInvolved--mobile.jpg) no-repeat center center fixed;
  background-size: 100%;
  background-position-y: 0%;
}

.donation-item-container {
  padding: 30px 0;
}

.good-partners {
  padding: 100px 0 0;
}
