section {
  padding: 80px 0;
}

.container {
  font-weight: 400;
}

.inner-section-container{
  margin: 0 auto;
  width: 340px;
}

.vertical-line {
  display: none;
}

.vertical-line2 {
  display: none;
}

//! WELCOME __________________
//! ____________________________________

.hero-title {
  font-size: 60px;
  line-height: 60px;
  padding: 0 0 15px;
}

.hero-description {
  font-size: 13px;
  font-weight: 400;
}

.feature-display {
  margin: 20px auto;
  width: 80%;
}



//! QUOTE SECTION ______________________
//! ____________________________________

.section-quote {
  font-size: 24px;
  margin: 20px auto;
  width: 340px;

}
