section {
  padding: 80px 0;
}

.container {
  font-weight: 400;
}

.inner-section-container{
  margin: 0 auto;
  width: 340px;
}

.beaconLogo--deco {
  height: 57px;
  margin: 0 auto;
  padding: 0 0 20px;
  position: absolute;
    top: 120px;
  width: 250px;
}

#beaconLeft {
  left: -130px;
  transform: rotateZ(90deg);
}

#beaconRight {
  right: -130px;
  transform: rotateZ(-90deg);
}

#page-one--section-one {
  background: url(../images/caliCity--tablet.png) no-repeat center center fixed;
}



//! WELCOME __________________
//! ____________________________________

section.welcome {
  background: $beaconYellow;
  height: 300px;
}

.brandingContainer {
  width: 300px;
}

.beaconLogo {
  height: 13px;
  margin: 0 0 5px;
  width: 75px;
}

.hero-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.feature-display {
  margin: 20px auto;
  width: 80%;
}



//! QUOTE SECTION ______________________
//! ____________________________________

.section-quote {
  font-size: 24px;
  margin: 20px auto;
  width: 340px;

}



//! RESOURCE SECTION ______________________
//! ____________________________________

#page-one--section-resources {
  background: url(../images/resources--tablet.png) no-repeat center center fixed;
  background-size: 140%;
  background-position-y: 35%;
}


//! EVENTS SECTION ______________________
//! ____________________________________

#page-one--section-two {
  background: url(../images/carnival--tablet.png) no-repeat center center fixed;
  background-size: 100%;
  background-position-y: 5%;
}
