section {
  padding: 80px 0;
}

.inner-section-container{
  margin: 0 auto;
  width: 340px;
}

.vertical-line {
  height: 500px;
  top: 250px;
}

.vertical-line2 {
  height: 420px;
  top: 2570px;
}

//! WELCOME __________________
//! ____________________________________

.hero-title {
  font-size: 60px;
  line-height: 60px;
  padding: 0 0 15px;
}

.hero-description {
  font-size: 13px;
}



//! QUOTE SECTION ______________________
//! ____________________________________

.section-quote {
  font-size: 24px;
  margin: 20px auto;
  width: 340px;

}
