.section-title {
  font-size: 46px;
  line-height: 46px;
  padding: 0 0 20px;
}

.sectional-image {
  height: 300px;
}

.button.hero-button {
  width: 340px;
}

%vertical-line--right {
  left: 95%;
}

%vertical-line--left {
  left: 5%;
}
