.section-title {
  font-size: 36px;
  line-height: 46px;
}

.sectional-image {
  height: 300px;

  @include background-cover;
}

.button.hero-button {
  width: 340px;
}

%vertical-line--right {
  left: 95%;
}

%vertical-line--left {
  left: 5%;
}
