//! GET INVOLVED PAGE ELEMENTS SECTION ______________________
//! ____________________________________

.inner-section-container--wide {
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 60px 0;
}

.inner-section-container--card-container, .inner-section--card-container {
  width: 48%;
}

.inner-section--card-image {
  background: $goodBlack;
  height: 200px;
  width: 100%;
}

.inner-section--card-name {
  font-family: $montserrat;
  font-size: 21px;
  padding: 20px 0 8px;
}

#get-involved-hero {
  background: url(../images/getInvolved--tablet.jpg) no-repeat center center fixed;
  background-size: 100%;
  background-position-y: 0%;
}
