.resources-nav-container {
  display: flex;
  flex-flow: column wrap;
  padding: 80px 0 0;
  text-align: center;
}

.resources-nav--link {
  font-size: 21px;
  padding: 0 0 20px;
}

.resource-offering {
  width: 49%;
}

#technicalSupportCat {
  width: 530px;
}
